<div class="container">

    <div class="row">

        <div class="col-lg border shadow m-1">
            <div class="text-center">
                <h2> About ME</h2>
                <img src="../../assets/Divrit.jpeg" alt="my Image" width="256" height="256" class="rounded-circle m-4">
                <p class="justify">A dedicated IT professional with over 4 years of experience in software development, primarily focused on Spring Boot/Microservices, Rest APIs, Hibernate, Spring Data JPA, MongoDB, and Docker. Known for a deep understanding of business requirements analysis, software design, coding, testing, debugging, and production deployment.</p>
            </div>
        </div>

        <div class="col-lg border shadow m-1">
            <div class="text-center">
                <h2> Featured Projects</h2>
                <h2> {{featuredProject.name}}</h2>
            </div>

            <carousel>
                <div *ngFor="let picture of featuredProject.pictures">
                    <slide><img src="{{picture}}" alt="slide" style="display: block; width: 100%; height: 250px; object-fit: fill;"></slide>
                </div>
            </carousel>
            <p class="mt-2"> {{featuredProject.summary}} </p>

            <p class="mt-2"> {{featuredProject.summary}} </p>
        </div>
    </div>
</div>